.listings-container{
  margin: 10px 0;
}

.listing{
  border-bottom: 2px solid $border;
  margin: 0;
  padding: 10px;
  position: relative;
  &:first-of-type{
    border-top: 2px solid $border;
  }
  &:hover{
    cursor: pointer;
    background: $listing-hover;
  }
}

.listing-headline{
  opacity: 1;
  visibility: visible;
  transition: 0.4s;
  max-height: 500px;
  &.hidden{
    visibility: collapse;
    opacity: 0;
    max-height: 0;
  }
  .listing-date{
    margin: 0;
    color: $listing-date;
  }

  .listing-artists{
    margin: 0;
  }

  .listing-venue{
    margin: 0;
  }
}

.listing-info{
  visibility: collapse;
  opacity: 0;
  transition: 0.3s 0.1s;
  max-height: 0;
  transform: translate(0, -50px);
  padding: 25px;
  &.open{
    visibility: visible;
    opacity: 1;
    max-height: 500px;
    transform: translate(0, 0);
  }
  .listing-date{
    margin: 0;
    color: $listing-date;
  }

  .listing-artists{
    margin: 0;
    font-weight: 700;
  }

  .listing-venue{
    margin: 0;
  }
}

.closed-row{
  max-height: 0px;
}
