.listings-container{
  @include outer-container;
  margin: 10px 0;
}

.listing{
  @include span-columns(12);
  border-bottom: 2px solid $border;
  margin: 0;
  padding: 10px;
  position: relative;
  transition: 0.3s;
  &:first-of-type{
    border-top: 2px solid $border;
  }
  &:hover{
    cursor: pointer;
    background: $listing-hover;
  }
}

.listing-headline{
  @include span-columns(12);
  opacity: 1;
  transition: 0.3s;
  max-height: 200px;
  overflow: hidden;
  &.hidden{
    opacity: 0.5;
    max-height: 0;
  }
  .listing-date{
    @include span-columns(2);
    margin: 0;
    color: $listing-date;
  }
  .listing-artists{
    @include span-columns(6);
    margin: 0;
  }
  .listing-venue{
    @include span-columns(4);
    margin: 0;
    color: $listing-venue;
  }
}

.listing-info{
  @include span-columns(12);
  max-height: 0;
  overflow: hidden;
  display: block;
  transition: 0.3s;
  opacity: 0.5;
  &.open{
    opacity: 1;
    max-height: 300px;
    transition: 0.3s;
  }
}

.artist-info-container{
  @include span-columns(8);
  .listing-date{
    margin: 0;
    color: $listing-date;
  }
  .listing-artists{
    margin: 0;
    font-weight: 700;
  }
  .listing-genres{
    color: $listing-genres
  }
}

.venue-info-container{
  @include span-columns(4);
  background: $venue-info-container;
  padding: 15px;
  .listing-venue{
    margin: 0;
  }
}

.closed{
  display: none;
}
