.listings-container{
  margin: 10px 0;
}

.listing{
  border-bottom: 2px solid $border;
  margin: 0;
  padding: 10px;
  position: relative;
  &:first-of-type{
    border-top: 2px solid $border;
  }
  &:hover{
    cursor: pointer;
    background: $listing-hover;
  }
}

.listing-date{
  margin: 0;
  color: $listing-date;
}

.listing-artists{
  margin: 0;
}

.listing-venue{
  margin: 0;
}

.listing-info{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease, opacity 0.3s ease, max-height 0.5s ease;
  max-height: 0;
  &.open{
    visibility: visible;
    opacity: 1;
    max-height: 500px;
  }
}
