$base-background: white;
$base-text: #25373D;
$border: #E6DCDB;
$listing-date: #CF000F;
$listing-hover: #EEEEEE;
$listing-venue: #25373D;
$venue-info-container: #EEEEEE;
$filter-background: #EEEEEE;
$calendar-picker-carrot: #eeeeee;
$listing-genres: #505E63;
